[tools]
go = "1.25"
"go:github.com/daixiang0/gci" = "latest"
"ubi:golangci/golangci-lint" = "2.5"
"ubi:goreleaser/goreleaser" = "2.12"

[env]
CGO_ENABLED=0

[tasks.vendor]
run = "go mod vendor"

[tasks.tidy]
run = "go mod tidy"

[tasks.build]
run = '''
go build -o bin/tl -ldflags="-extldflags '-static' -X github.com/previousnext/tl-go/cmd.version=$(git describe --tags --always)" github.com/previousnext/tl-go
'''

[tasks.lint]
run = "golangci-lint run"

[tasks.test]
run = "go test -cover ./..."

[tasks.release]
run = "goreleaser"

[tasks.snapshot-release]
run = "goreleaser --snapshot --clean --verbose"
